<html>
<head>
    <title>HowToGo</title>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<div class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>

	<div class="page-header text-center">
		<h1>Search for QuikMaps</h1>
	</div>

	<div class="row">
	  <div class="col-lg-6">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search for QuikMaps">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">Find! <span class="glyphicon glyphicon-search"></span></button>
		  </span>
		</div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<div class="media well well-sm">
	  <div class="media-left media-middle">
		<a href="#">
		  <img class="media-object" src="..." alt="...">
		</a>
	  </div>
	  <div class="media-body">
		<h4 class="media-heading">Map Search Results</h4>
	  </div>
	</div>
</div>
</body>
</html>
