<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= javascript_include_tag "create" %>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>

    <div class="page-header text-center">
	  <h1>Create QuikMap</h1>
		<div class="input-group col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
    	    <span class="input-group-addon" id="basic-addon1">QuikMap To:</span>
    	    <input id="titleinput" type="text" class="form-control" placeholder="New Location Name" aria-describedby="basic-addon1">
		</div>
	</div>

    <div class="row">
        <div id="toolbar" class="col-lg-2 col-md-2 col-sm-1 col-xs-1 text-center">

            <button id="selectbutton" type="button" class="btn btn-info btn-lg" title="Select">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="drawbutton" type="button" class="btn btn-info btn-lg" title="Draw Line">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="landmarkbutton" type="button" class="btn btn-info btn-lg" title="Add Landmark">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="removebutton" type="button" class="btn btn-info btn-lg" title="Remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="undobutton" type="button" class="btn btn-info btn-lg" title="Undo">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="redobutton" type="button" class="btn btn-info btn-lg" title="Redo">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="font-size:36px"></span>
            </button>

            <hr/>

            <div id="selectdiv">
              <h4>Select</h4>
              <p>
                Modify properties of existing landmarks by clicking on them
              </p>
            </div>
            <div id="drawdiv">
              <h4>Draw Route</h4>
              <p>
                Click anywhere on the canvas to start.
              </p>
            </div>
            <div id="landmarkdiv">
              <h4>Add Landmark</h4>
              <p>
                Click anywhere to add landmark. Select desired name and icon.
            </div>
            <div id="removediv">
              <h4>Remove</h4>
              <p>
                Remove objects by click on them
              </p>
            </div>

		</div>

    	<div id="app" class="col-lg-8 col-md-8 col-sm-11 col-xs-11 ui-widget-header" style = "height:500px" >
            <canvas id="canvas" height ="1200px" width ="1200px"></canvas>
    	</div>

    	<div id="instructions" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    		<h3>How to use?</h3>
			<ol>
				<li>Name your QuikMap after its <b>destination</b>!</li>
				<li>Add routes to the destination</li>
        <li>Add in landmarks along that route! Usually
           <ul>
             <li><b>3</b> per junction</li>
             <li><b>2</b> per lane</li>
           </ul>
				<li>Click submit below!</li>
			</ol>
            <form action="/create/submit" method="post" id="submitform">
                <input id="mapdatainput" type="hidden" name="map_data" value=""/>
                <button id="submitbutton" type="submit" class="btn btn-default btn-success text-center">Submit!</button>
            </form>
    	</div>

        <div id="landmarkpopover" class="popover" style="width:170px">
            <div class="text-center">
        	    <input id="landmarkinput" type="text" class="form-control" placeholder="Landmark Name" aria-describedby="basic-addon1"/>
                <div class="row">
                    <button id="digitalbutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("digital.svg", size:"50x50", id:"digitalimg") %>
                        <p style="font-size:13px">Digital</p>
                    </button>
                    <button id="lifestylebutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("lifestyle.svg", size:"50x50", id:"lifestyleimg") %>
                        <p style="font-size:13px">Lifestyle</p>
                    </button>
                </div>
                <div class="row">
                    <button id="foodbutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("food.svg", size:"50x50", id:"foodimg") %>
                        <p style="font-size:13px">F&B</p>
                    </button>
                    <button id="fashionbutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("fashion.svg", size:"50x50", id:"fashionimg") %>
                        <p style="font-size:13px">Fashion</p>
                    </button>
                </div>
                <div class="row">
                    <button id="servicesbutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("services.svg", size:"50x50", id:"servicesimg") %>
                        <p style="font-size:13px">Services</p>
                    </button>
                    <button id="structuresbutton" type="button" class="btn btn-default btn-lg text-center" style="width:80px; height:80px">
                        <%= image_tag("structures.svg", size:"50x50", id:"structuresimg") %>
                        <p style="font-size:13px">Stuctures</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</div>
</body>b
</html>
