// Place all the styles related to the create controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
canvas {
   border: 2px solid #DFDFDF;
   background-color: #F7F7F7;
   }
